
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link type="text/css" rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <section class="header">
        

                
        <!--Navbar Section-->
    <nav class="navbar">
    <div class="navbar-head">
        <a href="/" id="navbar__logo">HAPPYDAVE <br>SUPPORTS</a>
    </div>

    <div class="nav-links" id="navLinks">
   
   
        <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/orphanage">OUR ORPHANAGES</a></li>
            <li><a href="/donate">DONATE</a></li>
            <li><a href="/user/register">REGISTER/LOGIN</a></li>
        </ul>
    </div>
    

</nav>




            <section class="main">

                <% if (loggedIn) { %>
                    <h1>Hello, <%= username %>!</h1>
                  <% } else { %>
                    <h1>Welcome!</h1>
                  <% } %>

                <p>You are now part of us, shared our vision and shown you care about our mission as well</p>
                
            </section>

            <section class="main-1">
                <h4>Here are several ways with which you can become an effective member: </h4>
                <ul>
                    <li>Join Our Quarterly Community Projects</li>
                    <li>Volunteer yourself to assist local orphanages around you</li>
                    <li>Donate to our course (you can give as much as you can, nothing is too small also)</li>
                    <li>Follow us on our social media platforms</li>
                    <li>Stay updated for important updates and programmes</li>
                </ul>
            </section>

            <section class="main-2">
                <h1>Things you might need to note:</h1>

                <ul>

                    <li>Community Projects</li>
                    <p>Our community projects with HappyDave Support aim to make a meaningful impact in the lives of orphans across Africa. Through our collaborative efforts, we extend a helping hand to numerous orphanages, providing essential resources, education, and care for these vulnerable children.

                        With a mission to empower, uplift, and nurture, HappyDave Support organizes quarterly community projects that focus on improving the overall well-being of orphanages. From building safe and hygienic living spaces to providing nutritious meals and access to quality education, our projects encompass a wide range of initiatives to ensure a brighter future for these children.
                        
                        Volunteers are the heart of our community, and we welcome individuals who are passionate about making a difference to join us. Whether it's contributing time, skills, or resources, every effort counts in shaping the lives of these young souls.</p>

                    <li>Donations</li>
                    <p>At HappyDave Support, we believe that every act of giving, no matter how small, can make a significant impact. Our donation program is a vital aspect of our community projects, as it allows us to gather the financial support needed to sustain and expand our initiatives.

                        Your generous contributions help us provide essential resources, educational materials, and medical assistance to orphanages across Africa. By donating to our cause, you become an essential part of the positive change we strive to create for these vulnerable children.
                        
                        We understand that every individual has a unique capacity to give, and we truly appreciate every contribution. No donation is too small, as it collectively adds up to create a ripple effect of hope and happiness in the lives of countless young souls.
                        
                        </p>

                    <li>Personal Volunteering</li>
                    <p>Beyond financial support, HappyDave Support values the power of personal volunteering. Your time and efforts are priceless gifts that can directly impact the lives of orphaned children.

                        As a volunteer, you have the opportunity to create lasting memories and build meaningful connections with these young hearts. Engaging in various activities, from organizing educational workshops to coordinating recreational events, allows you to leave a positive imprint on the lives of those you touch.
                        
                        Whether you are a teacher, artist, healthcare professional, or simply someone with a passion for making a difference, your skills and expertise are valuable resources that can bring joy and hope to orphanages.
                        
                        Joining as a volunteer with HappyDave Support provides a unique and enriching experience. It offers personal growth, a broader understanding of different cultures, and the satisfaction of knowing you are making a tangible impact on the lives of those in need.
                        
                        Through donations and personal volunteering, you can be a driving force in our mission to empower orphanages across Africa. Together, we can create a brighter future and a world where all children have the love, care, and opportunities they deserve. Your support truly matters, and we invite you to be a part of our journey toward a more compassionate and inclusive world.
                        
                        
                        
                        
                        </p>
                </ul>

            </section>
        
        <div class="reg">
    
          <button class="btn" id="btn" > <a href="/user/logout">Logout</a></button>
          <button class="btn" id="btn" > <a href="/">Home</a></button>

        </div>



 <!-- Footer Section -->
 <div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>About Us</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonials</a>
                <a href="/">Careers</a>
                <a href="/">Terms of Service</a> 
            </div>

            <div class="footer__link--items">
                <h2>Contact Us</h2>
                <a href="/">Contacts</a>
                <a href="/">Support</a>
                <a href="/">Ambassadors</a>
            </div>
      </div>

      <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Orphanages</h2>
                <a href="/">West Africa</a>
                <a href="/">North Africa</a>
                <a href="/">South Africa</a>
                <a href="/">East Africa</a>
                <a href="/">Central Africa</a>
            </div>

            <div class="footer__link--items">
                <h2>Social Media</h2>
                <a href="/">Instagram</a> <a href="/">Facebok</a>
                <a href="/">Youtube</a>  <a href="/">Twitter</a> 
            </div>
        </div>


        
    </div>
    <section class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo">HAPPYDAVE SUPPORTS</a>
            </div>
            <p class="website__rights">© HAPPYDAVE SUPPORTS 2023. All rights reserved</p>
            <div class="social__icons">
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>
</div>

   
<script type="application/json" src="/dashboard.js"></script>
</body>
</html>


   


  

