.navbar{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    color: black;
    
}


.navbar-head a {
    text-decoration: none;
    color: black;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


  
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
    margin: 20px auto;
    width: 30%;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  label {
    display: block;
    font-weight: bold;
  }

  section {
    display: block;
    text-align: center;
  }

  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    color: white;
    background-color: black;
  } 

  .reg {
        text-align: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: green;
  }

  a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
  }
  
  .error {
    color: #990000;
    margin-bottom: 10px;
  }
  

/* Footer Css */
.footer__container {
    background-color: white;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#footer__logo {
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


.footer__links {
    width: 100%;
    color: black;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    text-align: center;
    width: 160px;
    box-sizing: border-box;
}


.footer__link--items h2 {
    margin-bottom: 16px;
    color: black;
}

.footer__link--items a {
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out;
}

.footer__link--items a:hover {
    color: black;
    transition: 0.3s ease-out; 
}

.social__icon--link {
    color: black;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    color: black;
}


.website__rights {
    color: black;
}



@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}